<ul>
  <li>
    Email:<br>
    <input type="text" name="user[email]" />
  </li><br>

  <li>
    Password:<br>
    <input type="password" name="user[password]" />
  </li><br>

    <input type="submit" value="Log-In" />
</ul>
