<div class="container">
  <h1>Welcome to Morgan's Dummy User!</h1>

  <% if login? %>
   <h1>Welcome, <%=@user.name%>!</h1>
   <a href="/logout">Click here to log out.</a>
   <br>
   <br>
   <a href="/secret_page">Click here to go to secret page!</a>

  <% else %>
    <h3>Enter your info here to log in:</h3>

    <form action="/login" method="POST">
      <%= erb :"users/_form", locals: { user: @user } %>
    </form>
    <a href="/signup">Create New Account</a>
  <% end %>
</div>
